.idea
*.pdparams
*.onnx
*.pt
*.pth
*.bin
*.trt
*.safetensors
*.zip
CV/RT-DETR/checkpoints
CV/RT-DETR/dataset
CV/RT-DETR/output_inference
ASR/huggingface
ASR/checkpoints
ASR/onnx_model
ASR/musan_noise
ASR/IMDA
ASR/IMDA_TIL
ASR/audio
ASR/audio_augmented_folder
ASR/test
ASR/TIL_data_folder
ASR/model