.idea
*.pdparams
*.onnx
*.pt
*.pth
*.ckpt
*.bin
*.trt
*.safetensors
*.zip
*.pyc
CV/RT-DETR/checkpoints
CV/RT-DETR/dataset
CV/RT-DETR/output_inference
ASR/huggingface
ASR/checkpoints
ASR/wav2vec2-checkpoints*
ASR/whisper-checkpoints*
ASR/onnx_model
ASR/musan_noise
ASR/IMDA
ASR/IMDA_TIL
ASR/imda_truncated
!ASR/imda_truncated/*.csv
ASR/imda_truncated_edited/
!ASR/imda_truncated_edited/*.csv
ASR/audio
ASR/train_augmented
ASR/train_augmented_without_musan
ASR/test
ASR/train
ASR/model
ASR/LanguageTool-5.7
CV/SOLIDER-REID/log_currentbest*
CV/SOLIDER-REID/reid_visual
!til-23-finals-public.zip
Robot/10000SGDMRT