[submodule "CV/Yolo-to-COCO-format-converter"]
	path = CV/Yolo-to-COCO-format-converter
	url = https://github.com/aliencaocao/Yolo-to-COCO-format-converter
[submodule "CV/SOLIDER-REID"]
	path = CV/SOLIDER-REID
	url = https://github.com/aliencaocao/SOLIDER-REID
