numpy
pandas
tensorrt
torch
torchvision
torchaudio
pycuda
pyctcdecode
transformers
datasets
evaluate
hf_transfer
kenlm @ git+https://github.com/kpu/kenlm
jiwer
accelerate
# transformer_engine @ git+https://github.com/NVIDIA/TransformerEngine.git@stable
pytorch_optimizer
librosa
soundfile
safetensors
tensorboard
psutil
opencv-python
pycocotools
onnxruntime-gpu
ensemble_boxes
orjson
imagesize
textgrids @ git+https://github.com/Legisign/Praat-textgrids
pydub
timm
mmcv-full
yacs
language_tool_python
ensemble-boxes
